/*------------------------------------*\
  Components > Post Card
\*------------------------------------*/

.c-post-card {
  display: block;
  padding: double($base-spacing-unit) 0;
  word-break: break-word;
  border-bottom: 1px solid $color-border;

  &--first {
    padding-top: 0;
  }

  &--last {
    padding-bottom: 0;
    border-bottom: 0;
  }

  &__title {
    margin-bottom: half($font-size-base);
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    transition: $global-transition;

    @include mq($from: tablet) {
      font-size: double($font-size-small);
    }
  }

  &__excerpt {
    margin-bottom: half($font-size-base);
  }

  &__date {
    display: block;
    color: $color-brand;
    direction: ltr;
    font-size: $font-size-tiny;
    font-weight: $font-weight-bold;
    line-height: $line-height-small;
    text-transform: uppercase;
  }
  &__tags {
    span {
      display: inline-block;
      padding: quarter($base-spacing-unit) $base-spacing-unit;
      margin: 0 half($base-spacing-unit) quarter($base-spacing-unit) 0;

      font-size: $font-size-tiny;
      font-family: $font-base;
      line-height: $line-height-medium;
      color: $color-brand;

      background-color: $bg-color-gray;
      transition: $global-transition;

      @include attention() {
        text-decoration: none;
        background-color: $bg-color-gray;
      }
    }
  }

  &:hover {
    color: $color-text;
    text-decoration: none;

    .c-post-card__title {
      color: $color-brand;
    }
  }
}
